certifi
colorama
elasticsearch==8.12.0
elastic-transport==8.17.1
fastapi
httpx[http2]
loguru
pandas
parsel
pathlib
protobuf
python-dateutil
sentencepiece
streamlit
torch
transformers
typing-extensions
urllib3
uvicorn
win32_setctime
apache-airflow