aiohttp
certifi
colorama
elasticsearch==8.12.0
elastic-transport==8.17.1
flake8
fastapi
httpx[http2]
loguru
mock
pandas
parsel
pathlib
protobuf
python-dateutil
pytest
pytest-mock
pytest-asyncio
sentencepiece
streamlit
torch
transformers
typing-extensions
urllib3
uvicorn
win32_setctime