certifi==2025.11.12
colorama==0.4.6
elasticsearch==8.12.0
elastic-transport==8.17.1
httpx[http2]
loguru==0.7.3
pandas
parsel
pathlib
python-dateutil
sentencepiece
torch
transformers
typing-extensions
urllib3==2.6.2
win32_setctime==1.2.0
