services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.12.0
    container_name: es-satisfaction
    environment:
      discovery.type: single-node
      xpack.security.enabled: "false"
      ES_JAVA_OPTS: "-Xms1g -Xmx1g"
    ports:
      - "9200:9200"
    volumes:
      - es-data:/usr/share/elasticsearch/data

  kibana:
    image: docker.elastic.co/kibana/kibana:8.12.0
    container_name: kibana-satisfaction
    depends_on:
      - elasticsearch
    environment:
      ELASTICSEARCH_HOSTS: "http://elasticsearch:9200"
    ports:
      - "5601:5601"

  fastapi:
    build:
      # Dossier de départ que Docker peut lire (racine du projet)
      context: ../../
      # Indique quel fichier Docker utiliser => pour construire l’image
      dockerfile: src/docker/Dockerfile
    container_name: fastapi-satisfaction
    depends_on:
      - elasticsearch
    environment:
      # Adresse d’Elasticsearch pour l’application fastAPI
      ELASTICSEARCH_HOST: "http://elasticsearch:9200"
    ports:
      - "8000:8000"
    volumes:
      # Lie le dossier src de mon PC au dossier src dans Docker
      # Quand je modifie le code, Docker voit le changement tout de suite
      - ../../src:/app/src
    command: uvicorn src.api.main:app --host 0.0.0.0 --port 8000 --reload
volumes:
  es-data:
