# File: src\docker\docker-compose.yml

services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.12.0
    container_name: es-satisfaction
    environment:
      discovery.type: single-node
      xpack.security.enabled: "false"
      ES_JAVA_OPTS: "-Xms1g -Xmx1g"
    ports:
      - "9200:9200"
    volumes:
      - es-data:/usr/share/elasticsearch/data

  kibana:
    image: docker.elastic.co/kibana/kibana:8.12.0
    container_name: kibana-satisfaction
    depends_on:
      - elasticsearch
    environment:
      ELASTICSEARCH_HOSTS: "http://elasticsearch:9200"
    ports:
      - "5601:5601"

  fastapi:
    build:
      context: ../../
      dockerfile: src/docker/Dockerfile_api
    container_name: fastapi-satisfaction
    depends_on:
      - elasticsearch
    environment:
      ELASTICSEARCH_HOST: "http://elasticsearch:9200"
    ports:
      - "8000:8000"
    volumes:
      - ../../src:/app/src
    command: uvicorn src.api.main:app --host 0.0.0.0 --port 8000 --reload

  streamlit:
    build:
      context: ../../
      dockerfile: src/docker/Dockerfile_frontend
    container_name: streamlit-satisfaction
    depends_on:
      - fastapi
    ports:
      - "8501:8501"
    volumes:
      - ../../src:/app/src
      - ../../src/frontend/assets:/app/assets

volumes:
  es-data:
